body {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.grid {
	border: 1px solid;
	background: black;
	flex: auto;
}

.selected {
	border: 1px solid white;
	background: red;
	flex: auto;
}

.row {
	display: flex;
	flex: auto;
}
