body {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.grid {
	border: 1px solid;
	background: black;
	flex: auto;
}

.selected {
	border: 1px solid white;
	background: red;
	flex: auto;
}

.row {
	display: flex;
	flex: auto;
}

button {
	align-self: flex-start;
	border: 5px solid white;
	border-radius: 12px;
	width: 500px;
	height: 50px;
	font-size: 24px;
	font-weight: bold;
	background: black;
	color: white;
}
